<!DOCTYPE html>
<html>
<head>
    <title>Lista de Productos en Tiempo Real</title>
</head>
<body>
    <h1>Lista de Productos en Tiempo Real</h1>
    <ul id="product-list">
        {{#each products}}
        <li>{{this.title}} - Precio: {{this.price}}</li>
        {{/each}}
    </ul>

    <!--******--->
<form id="add-product-form">
    <label for="title">Título:</label>
    <input type="text" id="title" name="title">
    <label for="price">Precio:</label>
    <input type="text" id="price" name="price">
    <button type="button" onclick="agregarProducto()">Agregar Producto</button>
</form>

<!-- JavaScript para manejar el envío del formulario -->
<script>
    function agregarProducto() {
        const title = document.getElementById('title').value;
        const price = document.getElementById('price').value;

        // Emitir un evento WebSocket para agregar un producto
        socket.emit('agregarProducto', { title, price });

        // Limpiar los campos del formulario
        document.getElementById('title').value = '';
        document.getElementById('price').value = '';
    }
</script>


    <!--******-->
<script>
    const socket = io(); 
    socket.on('actualizarProductos', (newProduct) => {
        const productItem = `<li>${newProduct.title} - Precio: ${newProduct.price}</li>`;
        document.getElementById('product-list').innerHTML += productItem;
    });

</script>



</body>
</html>
